@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   * {
      @apply border-border outline-ring/50;
   }
   body {
      @apply bg-background text-foreground;
   }
}

input::-webkit-search-cancel-button {
   -webkit-appearance: none;
   appearance: none;
   height: 16px;
   width: 16px;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='hsl(215.4 16.3% 46.9%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg>");
   background-size: 16px 16px;
   cursor: pointer;
}

.dark input::-webkit-search-cancel-button {
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%239E9FAA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg>");
}

input[type='search'] {
   font-size: 16px !important;
}

.texture {
   display: none;
}

.ghibli .texture {
   display: block;
   background-image: url(https://matsu-theme.vercel.app/texture.jpg);
   background-size: 100% 100%;
   background-repeat: repeat;
   opacity: 0.12;
   mix-blend-mode: multiply;
   z-index: 100;
   isolation: isolate;
   position: fixed;
   inset: 0;
   width: 100vw;
   height: 100dvh;
   pointer-events: none;
}

.ghibli body {
   font-weight: 700 !important;
}
.ghibli .border {
   border-width: 2px !important;
}
.ghibli .border-l {
   border-left-width: 2px !important;
}
.ghibli .border-r {
   border-right-width: 2px !important;
}
.ghibli .border-t {
   border-top-width: 2px !important;
}
.ghibli .border-b {
   border-bottom-width: 2px !important;
}
.ghibli .shadow-primary {
   box-shadow: 0 2px 0 0 var(--primary-border) !important;
}
.ghibli .shadow-destructive {
   box-shadow: 0 2px 0 0 var(--destructive) !important;
}
.ghibli .shadow-destructive-border {
   box-shadow: 0 2px 0 0 var(--destructive-border) !important;
}